/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e5c76; /* Color de tu paleta */
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    font-size: 1em;
    font-weight: bold;
    color: #0d1321; /* Color claro */
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: #0d1321;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ffffff; /* Hover en tu paleta */
}

  /* Botón de llamada a la acción */
.navbar-cta .btn-primary {
    background-color: #ffffff;
    color: #0d1321;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.navbar-cta .btn-primary:hover {
    background-color: #ced7e3;
    transform: scale(1.05);
}